
@import "tailwindcss";

@theme {
  --breakpoint-xm: 53rem;
  /* --breakpoint-xl:initial; --> removing a default breakpoint  */
  /* --breakpoint-*:initial;   --> removing all the default breakpoints  */
  /* customising the breakpoint for container queries */
    --container--xl: 82rem;
}

/* @custom-variant dark (&:where(.dark, .dark *)) */
:root {
  font-family: cursive;
  line-height: 1.5;
  display: flex;
  flex-direction: column;


}


body {
  margin: 0;
}
.resizable {
  resize: horizontal;
  overflow: hidden;
  border: 1px dashed #e80e0e;
}