
@import "tailwindcss";

@theme {
  --breakpoint-xm: 53rem;
  /* --breakpoint-xl:initial; --> removing a default breakpoint  */
  /* --breakpoint-*:initial;   --> removing all the default breakpoints  */
}

:root {
  font-family: cursive;
  line-height: 1.5;
  display: flex;
  flex-direction: column;


}


body {
  margin: 0;
}
