@import "tailwindcss";
/* to use attribute data-theme attribute override the dark variant with attribute selctor: */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/* to use dark class to apply dark mode use the custom selector: @custom-variant dark (&:where(.dark, .dark *))  */
/* @import "tailwindcss/preflight.css" layer(base); */
/*  disable automatic source detection using source(none) during importation of tailwind  */
/* above: specific utilities */
/* @source inline("underline") */

@theme {
  --breakpoint-xm: 53rem;
  /* --breakpoint-xl:initial; --> removing a default breakpoint  */
  /* --breakpoint-*:initial;   --> removing all the default breakpoints  */
  /* customising the breakpoint for container queries */
  --container--xl: 82rem;
  --color-mint-500: oklch(0.72 0.11 178);
  --color-regal-blue: #243c5a;
  --font-popins: Poppins, sans-serif;
  --breakpoint-alg: 72rem;
  --tab-size-github: 8;
  --text-vsm: 0.8em;
  --text-tiny: 0.625rem;
  --text-tiny--line-height: 1.5rem;
    --text-tiny--letter-spacing: 0.0725rem;
    --text-tiny--font-weight: 500;
  --aspect-retro: 4/3;
  --container-4xs: 14rem;
  --font-display: "Oswald", sans-serif;
  --font-weight-extrablack: 620;
  --tracking-1: 0.1em;
    --tracking-2: 0.025em;
    --color-dark-blue: #0004ff;

}

@utility tab-* {
  tab-size: --value((--tab-size-*))
}

@utility content-auto {
  content-visibilty: auto;
}

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }

}

/* using variants */
.prefDark {
  @variant dark {
    background-color: black;
    color: white;
    /* if u need multiple variants at the same time use nesting */
    /* @variant hover {
      border: 2px solid green;
    } */
  }
}

/* addding a custom variants */
@custom-variant theme-midnight {
  &:where([data-theme="midnight"]*) {
    @slot
  }
}

/* adding base styles */
@layer base {
  h1 {
    font-size: var(--text-2xl);
    color: gray;

  }
}

/* adding components styles  */
@layer components {
  .text-hello {
    background-color: var(--color-gray-700);
    border-radius: var((--radius-lg));
    padding: --spacing(2);
    box-shadow: var((--shadow-full));
  }
}

:root {
  font-family: cursive;
  line-height: 1.5;
  display: flex;
  flex-direction: column;




}

/* .test2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4em;
} */

/* using functions  */

.my-element {
  color: --alpha(var(--color-gray-700)/50%);
}

/* using --spacing() */
.my-elementTwo {
  margin: --spacing(4);
  color: #ffc400;
}

body {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: none;
  width: 7px;
}



::-webkit-scrollbar-thumb {
  background-color: rgb(94, 94, 94);
  width: 10px;
  border-radius: 0.5em;
}

.custom-scroll::-webkit-scrollbar {
  background: none;
  width: 7px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(249, 247, 247);
  border-radius: 10px;
}

@layer components {
  .resizable {
    resize: horizontal;
    overflow: hidden;
      border: 2px solid rgb(91, 91, 252);
    min-width: 300px;
    max-width: 900px;

    @media(prefers-color-scheme: dark) {
      background-color: rgb(30, 29, 29);

    }
    }

    .resizableVid {
      resize: horizontal;
  
      overflow: hidden;
      border: 1px solid rgb(91, 91, 252);
  
      max-width: 900px;
  
      @media(prefers-color-scheme: dark) {
        background-color: rgb(30, 29, 29);
  
      }
    }
}